version: 2.1


shared: &shared
    steps:
      - checkout
      - run:
          name: Install chemcoord
          command: pip3 install --editable .
      - run:
          name: Install pytest
          command: pip3 install pytest pytest-cov
      - run:
          name: Running tests
          command: python3 -m pytest --cov=./src/chemcoord
      - run:
          name: Upload coverage reports to Codecov
          command: |
            bash <(curl -s https://codecov.io/bash)

workflows:
  sample:
    jobs:
      - py37
      - py38
      - py39

jobs:
  py37:
    <<: *shared
    docker:
      - image: cimg/python:3.7

  py38:
    <<: *shared
    docker:
      - image: cimg/python:3.8

  py39:
    <<: *shared
    docker:
      - image: cimg/python:3.9
